:root {
	font-family: sans-serif;
}

body {
	margin: 0;
}

@keyframes title-fade-in {
	from { color: rgba(150, 30, 225, 0); }
	to { color: rgba(150, 30, 225, 255); }
}

h1 {
	background-image: linear-gradient(rgb(0, 255, 255), rgba(0,0,0,0));
	margin: 0;
	padding-top: 1em;
	padding-bottom: 1em;

	text-align: center;
	width: 100vw;

	animation: title-fade-in 2s;
	color: rgba(150, 30, 225, 255);
}


div.options {
	display: flex;
	flex-direction: column;
}

div.options > a {
	border: 3px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5%;
	margin-bottom: 5%;

	padding: 3px;

	font-size: 5vw;
	text-align: center;
}

div.options > a > img {
	max-width: 100%;
	height: 50vh;
}

footer {
	height: 25px
}
